[Unit]
Description=Launches The Jeopardy Bot
After=network-online.target
Wabts=network-online.target

[Service]
ExecStart=/usr/bin/java -jar /home/ubuntu/Jones-Kubisek-Sekol-Final/target/dbot-1.0.0-jar-with-dependencies.jar
Restart=always

[Install]
WantedBy=multi-user.target

