[Unit]
Description=Launches The Jeopardy Bot
After=network-online.target
Wants=network-online.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/Jones-Kubisek-Sekol-Final
ExecStart=/usr/bin/java -jar /home/ec2-user/Jones-Kubisek-Sekol-Final/target/dbot-1.0.0-jar-with-dependencies.jar
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

